
.navbar{
    border: solid 1px black;
    background-color:black ;
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
    
}
a{
   background-color: black;
}
    

.container-fliud{
    margin:2px;
}
.menu{
    text-align: center;
    margin: 15px 0px 25px 0px;
    font-weight: bold;
    font-size: 25px;

}
.container{
    display: grid;
    grid-row-gap: 5px;


}
.item{
    border: solid 1px black;
    background-color: grey;

}
.title{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
p{
    padding: 15px;
}

